root = true

[*]
charset = utf-8
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

# Graphics
[*.{eps,gif,ico,jpeg,jpg,png,tif,tiff}]
charset = unset
end_of_line = unset
indent_size = unset
indent_style = unset
insert_final_newline = unset
tab_width = unset
trim_trailing_whitespace = unset

# Other documents
[*.{doc,DOC,docx,DOCX,dot,DOT,PDF,pdf,rtf,RTF}]
charset = unset
end_of_line = unset
indent_size = unset
indent_style = unset
insert_final_newline = unset
tab_width = unset
trim_trailing_whitespace = unset
